# Byte-compiled / optimized / DLL files
__pycache__

/*.xlsm

*~
*.bas
*.code-workspace
*.docx
*.egg-info/
*.pdf
*.pyc
*.sql

.DS_Store
.coverage
.hypothesis/
.idea/
.ipynb_checkpoints/
.pytest_cache/
.sourcestamp
.venv
.vscode

data/master-servers
env/
*.log
target
