vbaProject.bin diff=olevba
doc/styles-reference.docx filter=lfs diff=lfs merge=lfs -text
images/*.png filter=lfs diff=lfs merge=lfs -text
src/**/*.xlsm filter=lfs diff=lfs merge=lfs -text
CDP-sizing-calculator.xlsx filter=lfs diff=lfs merge=lfs -text
